:root {

	--white: #f9faf8;
	--fadedwhite: #e5e7eb;
	--blue: #3882f6;
	--gray: #1f2937;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	flex-direction: row;
	background-color: var(--gray);
}

.header-logo {
	margin: 0 auto 0 200px;
	font-size: 24px;
	color: var(--white);
}

.header-link {
	font-size: 18px;
	color: var(--fadedwhite);
	margin-left: 30px;
}

.header p {
	padding: 40px 0;
}

.header p:last-child {
	margin-right: 200px;
}

.hero {
	background-color: var(--gray);
	display: flex;
	padding: 40px 0 100px;
}

.hero-main {
	margin-left: 200px;
	width: calc(50% - 200px);
	padding: 0 150px 0 0;
}

.hero-title {
	font-size: 48px;
	font-weight: bold;
	color: var(--white);
}

.hero-description {
	font-size: 18px;
	color: var(--fadedwhite);
}

.hero-button {
	background-color: var(--blue);
	font-size: 18px;
	color: var(--white);
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
}

.hero-placeholder {
	background-color: gray;
	width: calc(50% - 200px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-placeholder-text {
	font-size: 18px;
	color: var(--fadedwhite);
}

.hero-main p {
	padding-bottom: 50px;
}